#general {
  width: 100%;
  height: fit-content;
  background-color: #fff7f7;
  color: #3e3535;
  padding-top: 1%;
}

#SWE {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
}

#SWE img {
  animation: swe 15s ease 0s infinite normal forwards;
}

@keyframes swe {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(-8px);
  }

  80% {
    transform: translateY(-6.4px);
  }

  90% {
    transform: translateY(6.4px);
  }
}

#MyDesc {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}
#infos {
  margin-left: 10%;
  width: 70%;
  display: flex;
  flex-direction: column;
}
#imgCv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.NiniPic {
  width: 100%;
}
p {
  font-size: 115%;
}
span {
  font-size: 120%;
  font-weight: 800;
}
#myName {
  margin-left: 20%;
  font-size: 250%;
  font-weight: 900;
}
.NaBi {
  margin-left: 15%;
}

#AboutMe {
  margin-top: 10%;
}

#Hobbies,
#AboutMe {
  margin-left: 3%;
  width: 75%;
}
#socials {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1.5%;
  margin-left: 11%;
  padding-bottom: 8%;
}
.iconsct {
  display: flex;
  gap: 2%;
}
.accIcon {
  width: 40px;
  height: 40px;
}

.accIcon:hover {
  transform: scale(1.1);
}

#cv {
  display: flex;
  width: fit-content;
  height: fit-content;
  font-size: 90%;
  margin-top: 3%;
}

#cvDownload {
  animation: moveTextUpDown 3s 200;
}

@keyframes moveTextUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (min-width: 300px) and (max-width: 900px) {
  #MyDesc,
  #general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #MyDesc {
    margin: 0;
  }
  #SWE {
    flex-direction: column;
    align-items: center;
  }

  #SWE h1 {
    order: 1;
    margin-bottom: 10%;
    text-align: center;
  }

  #SWE img {
    order: 2;
  }

  #infos {
    order: 1;
    text-align: center;
    margin-left: 0;
  }

  #myName {
    margin: 0;
    margin-top: 2%;
    text-align: center;
  }

  .NaBi {
    margin: 0;
    margin-top: 2%;
  }

  #imgCv {
    width: 80%;
    order: 2;
  }
  .NiniPic {
    width: 80%;
    margin-top: 0%;
  }

  span {
    font-weight: 900;
  }

  #Hobbies,
  #AboutMe {
    margin-left: 0;
    width: 100%;
  }

  #socials {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 2%;
  }

  .iconsct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4%;
  }

  .accIcon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 400px) {
  #SWE img {
    width: 80%;
  }

  #SWE h1 {
    font-size: 160%;
  }

  #infos {
    width: 90%;
  }
}
